:root {
    --red-primary: #c02032;
    --yellow-primary: #ffd643;
    --green-primary: #223b73;
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

html {
    /* font-family: "Open Sans", sans-serif; */
    color: #444444;
    font-family: "Roboto", sans-serif !important;
}


/* 2 dòng dài thì có đoạn 3 chấm ... */

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cursor {
    cursor: pointer !important;
}